#namespace
apiVersion: v1
kind: Namespace
metadata:
  name: hello
---
#deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-deployment
  namespace: hello
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: hello-container
        image: bart120/front-aqua:latest
        ports:
        - containerPort: 80
---
#service
apiVersion: v1
kind: Service
metadata:
  name: hello-service
  namespace: hello
spec:
  selector:
    app: hello
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 80
  type: LoadBalancer